.akhil {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(45deg, #901616, #302f2d);
    box-shadow: 0 0 10px rgba(255, 140, 0, 0.8);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: right;
    align-items: right;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .akhil:hover {
    box-shadow: 0 0 20px rgba(248, 5, 5, 0.995);
  }
  .para{
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .login{
    display: flex;
    justify-content: center;
    align-items: center;
  }
